/* Notification 예제 */
body {
  padding: 50px;
}

ul {
  width: 20.75rem;

  li {
    padding: 1.25rem;
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #c4c4c4;
    background: #fff;
  }

  li:nth-child(even) {
    em {
      color: #e39042;
    }

    .notification-time {
      color: #e39042;
    }
  }
}

.notification {
  position: relative;
  /* display: flow-root; */

  img {
    /* float: left; */
    position: absolute;
    /* margin-right: 1.25rem; */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  div {
    padding-left: 3rem;
  }

  em {
    margin-bottom: 0.25rem;
    color: #22be61;
    font-size: 1.125rem;
    font-weight: 600;
  }

  p {
    color: #9b9a90;
    font-size: 0.875rem;
  }

  .notification-time {
    position: absolute;
    right: 0.1875rem;
    top: 0.25rem;
    color: #22be61;
    font-size: 0.6875rem;
    font-weight: 700;
  }
}
